html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.titulo {
    height: 10%;
    padding-top: 10px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.divlista {
    height: auto;
    width: 30%;
    max-width: 400px;
    border-radius: 10px;
    background-color: gray;
    margin: 5px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divagregar {
    height: auto;
    width: 30%;
    max-width: 400px;
    border-radius: 10px;
    background-color: gray;
    margin: 5px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
    width: 80%;
    margin-bottom: 10px;
}

button#btAdd {
    width: 50%;
    height: 40px;
    background-color: darkcyan;
    border-width: 0px;
    border-radius: 10px;
    font-size: 20px;
}

.lista {
    display: flex;
}

.btlist {
    height: 35px;
    width: 35px;
    margin-top: 15px;
    margin-right: 10px;
    border-width: 0px;
    border-radius: 5px;
}

.btdelete {
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    transition: all 0.2s ease;
}

.btdelete:hover {
    filter: blur(1px);
}

.btimage {
    width: 35px;
}

.prendido img {
    content: url('../img/tick.png');
    width: 35px;
    margin-top: 3px;
    margin-left: -6px;
}